<div class="h-screen w-screen bg-white">
  <div class="w-full h-fit flex justify-center">
    <img src="/giphy.gif" class="w-1/2 h-1/2" />
  </div>
  <h1
    class="text-2xl flex w-full justify-center font-bold absolute bottom-20"
  >Uh Oh! Wrong Path </h1>
</div>