{{> header}}
<div class="flex justify-center">
<div
        class="flex flex-row items-center gap-10 mt-10">
                        <a href="/search"><button
                        class="bg-[#330000]  hover:bg-[#368F8B] font-bold text-white px-10 py-10 rounded-md">Search Teacher Info</button></a>
                        <a href="/insert"><button class="bg-[#330000]  hover:bg-[#368F8B] font-bold text-white px-10 py-10 rounded-md">Insert Teacher Info</button></a>
                        <a href="/update"><button class="bg-[#330000]  hover:bg-[#368F8B] font-bold text-white px-10 py-10 rounded-md">Update
                        Teacher Info</button></a>
                        <a href="/delete"><button class="bg-[#330000]  hover:bg-[#368F8B] font-bold text-white px-10 py-10 rounded-md">Delete
                        Teacher Info</button></a>
</div>
</div>
{{> footer}}